<% include partials/header %>

<h2>This is campgrounds page</h2>

<% campgrounds.forEach((campground) =>{%>
 <div>
     <h2><%= campground.name %></h2>
     <img src="<%= campground.image %>" >
 </div>

<% }); %>

<% include partials/footer %>