<% include partials/header %>

<h2>This is campgrounds page</h2>
<button><a href="campgrounds/new">Add new campground</a></button>

<% campgrounds.forEach((campground) =>{%>
 <div>
     <h2><%= campground.name %></h2>
     <img src="<%= campground.image %>" >
 </div>

<% }); %>

<% include partials/footer %>